@charset "utf-8";
/* CSS Products */
/*====FORMAT====*/
@font-face{
	font-family: Glamore;
	src: url("../font/glamore-regular/Glamore Regular.otf"),
		url("../font/glamore-regular/Glamore Regular.eot"),
		url("../font/glamore-regular/Glamore Regular.woff");
}
@font-face{
	font-family: SemiBold;
	src: url("../font/montserrat/Montserrat-SemiBold/Montserrat-SemiBold.ttf"),
		url("../font/montserrat/Montserrat-SemiBold/Montserrat-SemiBold.eot"),
		url("../font/montserrat/Montserrat-SemiBold/Montserrat-SemiBold.woff");
}
@font-face{
	font-family: Regular;
	src: url("../font/montserrat/Montserrat-Regular/Montserrat-Regular.ttf"),
		url("../font/montserrat/Montserrat-Regular/Montserrat-Regular.eot"),
		url("../font/montserrat/Montserrat-Regular/Montserrat-Regular.woff");
}
@font-face{
	font-family: mMedium;
	src: url("../font/montserrat/Montserrat-Medium/Montserrat-Medium.ttf"),
		url("../font/montserrat/Montserrat-Medium/Montserrat-Medium.eot"),
		url("../font/montserrat/Montserrat-Medium/Montserrat-Medium.woff");
}
@font-face{
	font-family: tThin;
	src: url("../font/Montserrat-Thin/Montserrat-Thin.ttf"),
		url("../font/Montserrat-Thin/Montserrat-Thin.eot"),
		url("../font/Montserrat-Thin/Montserrat-Thin.woff");
}

/**====FONT====**/

body{
	font-family: Regular;
}

/*====BREADCRUMB====*/
#pagelink{
	margin-bottom: 30px;
	margin-top: 15px;
}
#pagelink ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#pagelink ul li{
	display: block;
	float: left;
	margin-top: 10px;
	margin-right: 15px;
	font-size: 16pt;
}
#pagelink ul li a{
	display: block;
	text-decoration: none;
	font-size: 16pt;
	color: #000000;
	margin-top: 2px;
	transition: all ease .5s;
}
.holdname{
	color: #EF6351 !important;
}
/**====BANNER====**/
#banner1{
	background-image: url("../Banner_Product_Good Service/skin-care-cosmetic-ad/demo.png");
	background-size: cover;	
}
#tiltebanner{
	margin-top: 275px;
	font-size: 24pt;
	font-family: mMedium;
	color: rgba(239,99,81,0.8);
}
#contentbanner{
	margin-top: 10px;
	color: rgba(239,99,81,0.7);
}
/**====FILTERS====**/
.filters{
	display: block;
	height: 100%;
	width: 100%;
	border: solid 1pt #EF6351;
	border-radius: 10px;
}
.filtersearch ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-top: 6px;
}
.filtersearch ul li{
	color: #EF6351;
	display: block;
	float: left;
}
.filtersearch ul li a{
	margin-top: -5px;
	display: block;
	color: #EF6351;
	background-color: #FBC3BC;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 15px;
	font-size: 16pt;
	transition: all ease .5s;
}
/* The container */
.container1 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 9px;
  cursor: pointer;
  font-size: 14pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #D9D9D9;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #666;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #EF6351;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	color: #FCFCFC;
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}





/**==FILTERS PRICE==**/
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: #D9D9D9; /* Grey background */
  outline: none; /* Remove outline */
	border-radius: 5px;

  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #EF6351; /* Green background */
  cursor: pointer; /* Cursor on hover */
  
}

.slider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #EF6351; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


/**====PRODUCTS====**/
.productbox1{
	width: auto;
	height: 350px;
	padding: 0px;
	padding: 0px 8px;

}
.hoverimg{
	position: absolute;
	z-index: 5;
	width: 255px;
	opacity: 0;
	transition: all ease .5s;
	
}
.productbox1:hover .cartbtn{
	opacity: 1;
	
}
.productbox1:hover .hoverimg{
	opacity: 1;
	transition: all ease .5s;
}
.productbox1:hover .detailbtn{
	margin-top: -70px;
	transition: all ease 0.3s;
}
.cartbtn{
	opacity: 0;
}
.detailbtn{
	width: 255px;
	position: absolute;
	background-color: #ffffff;
	margin-top: -40px;
	z-index: 10;
	transition: all ease .5s;	
}
.detailbtn:hover{
	position: absolute;
	z-index: 10;
	transition: all ease .5s;
	background-color: #FFF;
	
}
.detailbtn h5{
	margin-left: 15px;
	margin-top: 5px;
}
.detailbtn ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 0px 15px;
}
.detailbtn ul li i{
	float: left;
	display: block;
		color: #EF6351;

}
.detailbtn ul li p{
	float: right;
	display: block;
	margin-right: 10px;
	font-style: italic;
	margin-top: -2px;
		color: #EF6351;

}
.detailbtn:hover{
	transition: all ease 0.5s;
	z-index: 10;
}
.cartbtn a{
	list-style-type: none;
	display: block;
	text-decoration: none;
	margin: 0px;
	margin-top: 35px;
	padding: 5px 30px 5px 30px;
	text-align: center;
	border-radius: 5px;
	color: #EF6351;
	border: solid 1pt #EF6351;
}
.cartbtn a:hover{
	color: #fff;
	background-color: #EF6351;
	transition: all ease 0.5s;
}
/*====PAGINATION====*/
.page-link{
	border: none;
	color: #EF6351;
}
.page-item.active .page-link{
	background-color: #FBC3BC;
}
#paginationbtn{
	display: block;
	height: 40px;
	width: 140px;
	color: #EF6351;
	border: solid 1pt #EF6351;
	text-align: center;
	padding-top: 7px;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 30px;
	transition: all ease .5s;
}

/*====EXTRA LARGE====*/
@media (min-width:1200px){
	/**====BANNER====**/
	#banner1{
		height: 600px;
		margin-top: -162px;
	}
		/**====DROPDOWNLIST====**/
	#dropdownlist #droplisttext{
		float: right;
		padding: 0px;
		padding-left: 30px;
	}
	#dropdownlist #droplistbox{
		float: right;
		padding: 0px;
	}
	#droplisttext{
		margin-top: 7px;
		margin-bottom: 30px;
	}
	.custom-select{
		height: 35px;
		border: solid 1pt #EF6351;

	}
	.custom-select:focus{
		border: solid 1pt #EF6351;
		box-shadow: none;
	}
	/**====FILTERS====**/
		.filters p4{
		display: block;
		padding-left: 30px;
		font-size: 14pt;
		font-family: Regular;
		padding-bottom: 15px;
	}

	.clearfix{
		height: 50px;
	}
	.filtersearch ul li a{
		margin-left: 15px;
	}
	.filtersearch ul li a:hover{
		color: #FCFCFC;
		background-color: #EF6351;
		transition: all ease .5s;
	}
		/*==NEWARRIVAL==*/
	#triggernewarrival h5{
		float: left;
	}
	#triggernewarrival i{
		margin-top: 5px;
		padding-left: 124px;
		float: left;
	}
			/*==CATEGORY==*/
	#triggercategory h5{
		float: left;
	}
	#triggercategory i{
		float: left;
		margin-top: 5px;
		padding-left: 146px;
	}
	#category{
		margin-left: 20px;
	}
			/*==CATEGORY==*/
	#triggerbrand h5{
		float: left;
	}
	#triggerbrand i{
		float: left;
		margin-top: 5px;
		padding-left: 177px;
	}
	#brand{
		margin-left: 20px;
	}
	/*==PRODUCTS==*/
	.productbox,.productbox1{
	height: 350px;
	}
	
	.hoverimg{
		width: 255px;
	}
	
}
/*====LARGE====*/
@media (min-width:992px) and (max-width:1199px){
	/**====BANNER====**/
	#banner1{
		height: 500px;
		margin-top: -162px;
	}
	.filtersearch ul li a{
		margin-left: 15px;
	}
	.filtersearch ul li a:hover{
		color: #FCFCFC;
		background-color: #EF6351;
		transition: all ease .5s;
	}
	/**====DROPDOWNLIST====**/
	#dropdownlist #droplisttext{
		float: right;
		padding: 0px;
	}
	#dropdownlist #droplistbox{
		float: right;
		padding: 0px;
	}
	#droplisttext{
		margin-top: 7px;
		margin-bottom: 30px;
	}
	.custom-select{
		height: 35px;
		border: solid 1pt #EF6351;

	}
	.custom-select:focus{
		border: solid 1pt #EF6351;
		box-shadow: none;
	}
	/**====FILTERS====**/
		.filters p4{
		display: block;
		padding-left: 30px;
		font-size: 14pt;
		font-family: Regular;
		padding-bottom: 15px;
	}

	.clearfix{
		height: 40px;
	}

			/*==NEWARRIVAL==*/
		#triggernewarrival h5{
		float: left;
	}
		#triggernewarrival i{
		margin-top: 5px;
		padding-left: 79px;
		float: left;
	}
			/*==CATEGORY==*/
	#triggercategory h5{
		float: left;
	}
	#triggercategory i{
		float: left;
		margin-top: 5px;
		padding-left: 102px;
	}

	#category{
		margin-left: 20px;
	}
			/*==CATEGORY==*/
	#triggerbrand h5{
		float: left;
	}
	#triggerbrand i{
		float: left;
		margin-top: 5px;
		padding-left: 130px;
	}
	#brand{
		margin-left: 20px;
	}
	.pagination{
		margin-left: 215px;
	}
	/*==PRODUCTS==*/
	.productbox,.productbox1{
	height: 300px;
	
	}
	.hoverimg{
		width: 210px;
	}
	.productbox1 ul li p3{
		width: 133px;
	}
	.hoverbtn{
		width: 210px;
	height: 40px;
	padding-top: 6px;
	position: absolute;
	z-index: 5;
	left: 50%;
	margin-left: -105px;
	padding-left: 60px;
	border-radius: 5px;
	margin-top: 40px;
	}
	.productbox1:hover h5{
	
	margin-top: -16px !important;
	margin-bottom: -10px !important;
	}	
}
/*====MEDIUM====*/
@media (min-width:768px) and (max-width:991px){
	/**====BANNER====**/
	#banner1{
		height: 400px;
		margin-top: -117px;
	}
	#high1{
		height: 285px;
	}
	/**====DROPDOWNLIST====**/
	#dropdownlist #droplisttext{
		float: right;
		padding: 0px;

	}
	#dropdownlist #droplistbox{
		float: right;
		padding: 0px;
	}
	#droplisttext{
		margin-top: 7px;
		margin-bottom: 30px;
	}
	.custom-select{
		height: 35px;
		border: solid 1pt #EF6351;

	}
	.custom-select:focus{
		border: solid 1pt #EF6351;
		box-shadow: none;
	}
	/**====FILTERS====**/
		.filters p4{
		display: block;
		padding-left: 30px;
		font-size: 15pt;
		font-family: Regular;
		padding-bottom: 15px;
	}
	.filtersearch ul li a{
			margin-left: 15px;
		}
	.clearfix{
		height: 40px;
	}

			/*==NEWARRIVAL==*/
		#triggernewarrival h5{
		float: left;
	}
		#triggernewarrival i{
		margin-top: 5px;
		padding-left: 79px;
		float: left;
	}
			/*==CATEGORY==*/
	#triggercategory h5{
		float: left;
	}
	#triggercategory i{
		float: left;
		margin-top: 5px;
		padding-left: 102px;
	}

	#category{
		margin-left: 20px;
	}
			/*==CATEGORY==*/
	#triggerbrand h5{
		float: left;
	}
	#triggerbrand i{
		float: left;
		margin-top: 5px;
		padding-left: 132px;
	}
	#brand{
		margin-left: 20px;
	}
	/*==PRODUCTS==*/
	.productbox,.productbox1{
		height: 300px;
	}
	.hoverimg{
		width: 210px;
	}
	.productbox1 ul li p3{
		width: 133px;
	}
	.hoverbtn{
		width: 210px;
	height: 40px;
	padding-top: 6px;
	position: absolute;
	z-index: 5;
	left: 50%;
	margin-left: -105px;
	padding-left: 60px;
	border-radius: 5px;
	margin-top: 40px;
	}
	.productbox1:hover h5{
	
	margin-top: -16px !important;
	margin-bottom: -10px !important;
	}	
	.pagination{
		margin-left: 95px;
	}	
}
/*====SMALL====*/
@media (min-width:576px) and (max-width:767px){
	/**====BANNER====**/
	#banner1{
		height: 300px;
	}
	/*==FILTERS==*/
	.filters{
		margin-bottom: 15px;
	}
	.filters p4{
		display: block;
		text-align: center;
		margin-left: 240px;
		border-bottom: solid 2pt #EF6351;
		margin-bottom: 15px;
		font-size: 16pt;
		font-family: Regular;

	}
	.filtersearch ul li a{
		margin-left: 100px;
	}
	/*==FITERBTN==*/
	.filterbtn p4{
		float: left;
	}
	.filterbtn i{
		margin-top: 10px;
		padding-left: 10px;
		float: left;
	}
	/*==NEWARRIVAL==*/
	#triggernewarrival h5{
		float: left;
	}
	#triggernewarrival i{
		margin-top: 5px;
		padding-left: 379px;
		float: left;
	}
		/*==CATEGORY==*/
	#triggercategory h5{
		float: left;
	}
	#triggercategory i{
		float: left;
		margin-top: 5px;
		padding-left: 402px;
	}

	#category{
		margin-left: 20px;
	}
			/*==CATEGORY==*/
	#triggerbrand h5{
		float: left;
	}
	#triggerbrand i{
		float: left;
		margin-top: 5px;
		padding-left: 432px;
	}
	#brand{
		margin-left: 20px;
	}
		/*==PRODUCTS==*/
	.productbox,.productbox1{
		height: 350px;

	}
	.hoverimg{
		width: 240px;
	}
	.productbox1 ul li p3{
		width: 133px;
	}
	.hoverbtn{
		width: 210px;
		height: 40px;
		padding-top: 6px;
		position: absolute;
		z-index: 5;
		left: 50%;
		margin-left: -105px;
		padding-left: 60px;
		border-radius: 5px;
		margin-top: 40px;
	}
	.productbox1:hover h5{
		margin-top: -16px !important;
		margin-bottom: -10px !important;
	}
}
/*====EXTRA SMALL====*/
@media (max-width:575px){
	/**====BANNER====**/
	#banner1{
		height: 200px;
	}
	/*==FILTERS==*/
	.filters{
		margin-bottom: 15px;
	}
	.filters p4{
		display: block;
		text-align: center;
		margin-left: 175px;
		border-bottom: solid 2pt #EF6351;
		margin-bottom: 15px;
		font-size: 16pt;
		font-family: Regular;

	}
	.filtersearch ul li a{
		margin-left: 60px;
	}
	/*==FITERBTN==*/
	.filterbtn p4{
		float: left;
	}
	.filterbtn i{
		margin-top: 10px;
		padding-left: 10px;
		float: left;
	}
	/*==NEWARRIVAL==*/
	#triggernewarrival h5{
		float: left;
	}
	#triggernewarrival i{
		margin-top: 5px;
		padding-left: 229px;
		float: left;
	}
		/*==CATEGORY==*/
	#triggercategory h5{
		float: left;
	}
	#triggercategory i{
		float: left;
		margin-top: 5px;
		padding-left: 252px;
	}

	#category{
		margin-left: 20px;
	}
			/*==CATEGORY==*/
	#triggerbrand h5{
		float: left;
	}
	#triggerbrand i{
		float: left;
		margin-top: 5px;
		padding-left: 282px;
	}
	#brand{
		margin-left: 20px;
	}
		/*==PRODUCTS==*/
		.productbox,.productbox1{
		height: 300px;

	}
	.hoverimg{
		width: 165px;
	}
	.productbox1 ul li p3{
		width: 88px;
	}
	.hoverbtn{
		width: 180px;
	height: 40px;
	padding-top: 6px;
	position: absolute;
	z-index: 5;
	left: 50%;
	margin-left: -90px;
	padding-left: 40px;
	border-radius: 5px;
	margin-top: 40px;
	}
	.productbox1:hover h5{
	
	margin-top: -10px !important;
	margin-bottom: -10px !important;
	}
	/**====FIX Lá»–I CONTAINER====**/
	.container{
		padding-right: 0px;
	}
}






